/* h1 {
    justify-content: center;
} */

nav {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #F5F5F5;

}

#logo {
    color: #1448b1;
}

nav a {
    color: #000000;
    margin: auto 20px auto 40px;
    text-decoration: none;
    font-weight: bold;

}

nav li {
    float: left;
    list-style: none;
    margin-left: 20px;

}

.container-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-top: 10px;

}
