
body {
    padding: 0;
    margin: 0;

}

nav {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #F5F5F5;
    z-index: 99;

}

#logo {
    color: #1448b1;
}

nav a {
    color: #000000;
    margin: auto 20px auto 40px;
    text-decoration: none;
    font-weight: bold;

}

nav li {
    float: left;
    list-style: none;
    margin-left: 20px;

}
